In [1]:
import pandas as pd

### como lidar com diferentes tipos de arquivos

como fazer a leitura desses arquivos

no diretório dados encontram-se os seguintes arquivos :

- aluguel.csv
- aluguel.json
- aluguel.txt
- aluguel.xlsx
- dados_html_1.html
- dados_html_2.html

### .csv

pd.read_csv()

In [20]:
df_csv = pd.read_csv('data/aluguel.csv', sep = ';')
df_csv

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

### .json

In [21]:
df_json = pd.read_json('data/aluguel.json')
df_json

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

### .txt

In [22]:
df_txt = pd.read_table('data/aluguel.txt', sep = '\t')
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

### .xlsx

In [23]:
df_xlsx = pd.read_excel('data/aluguel.xlsx')
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

### .html

essas funções lêem uma tabela de html e retornam uma listas com dara frames.

In [25]:
# vou extrair a tabela html do arquivo
var = pd.read_html('data/dados_html_1.html')

df_html = var[0]

df_html

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [26]:
# vou extrair a tabela html através de uma url
url = 'https://www.federalreserve.gov/releases/h3/current/default.htm' # poderia ser no parâmetro tbm...
var = pd.read_excel(url)
def_html2 = var[0]

# isso dá erro por algum motivo
# alura me mandou fazer por um processo mais complexo e que envolve web scraping

HTTPError: HTTP Error 403: Forbidden

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
lista_df = pd.read_html(html_file)

# Como a função read_html retorna uma lista de DataFrames, basta acessar as tabelas pelos índices da lista.
# Como temos três tabelas na página usamos os índices 0, 1 ou 2 para acessar os DataFrames que buscamos
df_html = lista_df[0]

df_html

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Aug. 2019                         134639
2           Sept. 2019                         134707
3            Oct. 2019                         134998
4            Nov. 2019                         140705
5            Dec. 2019                         138984
6            Jan. 2020                         144816
7            Feb. 2020                         138370
8            Mar. 2020                         113139
9            Apr. 2020                              0
10            May 2020                              0
11           June 2020                              0
12           July 2020                              0
13           Aug. 2020                              0
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       July 15, 2020                              0
17       July 29, 2020                              0
18       Aug. 12, 2020                              0
19       Aug. 26, 2020                              0
20       Sept. 9, 2020                              0

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       148114                         121167
2                       148188                         121227
3                       148509                         121489
4                       154787                         126625
5                       152893                         125076
6                       159309                         130326
7                       152218                         124524
8                       124461                         101817
9                            0                              0
10                           0                              0
11                           0                              0
12                           0                              0
13                           0                              0
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                           0                              0
17                           0                              0
18                           0                              0
19                           0                              0
20                           0                              0

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        1520876
2                        1439771
3                        1481513
4                        1529341
5                        1630090
6                        1645384
7                        1656989
8                        2045148
9                        2953586
10                       3217635
11                       3043556
12                       2718529
13                       2799719
14                           NaN
15            Two weeks ending 8
16                       2795785
17                       2623526
18                       2751124
19                       2821740
20                       2854690

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              147555
2                                              147498
3                                              148050
4                                              154256
5                                              152562
6                                              158765
7                                              151612
8                                              124147
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                NaN
15                                 Two weeks ending 8
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             1373321
2                                             1292273
3                                             1333462
4                                             1375085
5                                             1477528
6                                             1486619
7                                             1505377
8                                             1921000
9                                             2953586
10                                            3217635
11                                            3043556
12                                            2718529
13                                            2799719
14                                                NaN
15                                 Two weeks ending 8
16                                            2795785
17                                            2623526
18                                            2751124
19                                            2821740
20                                            2854690